<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Stukent App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="todo-container">
    <div class="todo-header">
        <h2>TO-DOs</h2>
    </div>
    <button (click)="createElement()">New Element</button>
    <app-todo-item (del)="deleteItem($event)" [change]="changeState.bind(this)"
        *ngFor="let todo of dataList; let i = index"
        [todo]="todo" [state]="true" [idTask]="i">
    </app-todo-item>
    <app-todo-item (del)="deleteItem($event)" [change]="changeState.bind(this)"
        *ngFor="let todo of dataList; let i = index"
        [todo]="todo" [state]="false" [idTask]="i">
    </app-todo-item>
</div>

</ion-content>
