.todo-container {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 400px;
  margin-bottom: 6rem;
}

.todo-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-header h2 {
  background-color: #88c0d0;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 8px;
}